{% extends 'hospital_page.html' %}
{% load static %}

{% block title %}Login Page{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
{% endblock %}

{% block data %} {% endblock %} 
{% block content %}
    <div class="auth_form">
        <div class="side_img">
            <img src="{% static 'assets/img/hospital.jpeg' %}" alt="Login_IMG">
        </div>
        <div class="side_form" style="margin-top: 120px;">
            <center>
                <form action="">
                    <h1>Login to Hospital</h1>
                    <input type="text" name="hospital_id" placeholder=" Hospital ID"><br>
                    <input type="password" name="password" placeholder=" Password"><br>
                    <input id="submit_btn" type="submit" value="LOGIN">
                </form>
    
                You don't have an Account: <a href="{% url 'hospital_reg' %}">Register</a>
            </center>
        </div>
    </div>
{% endblock %}