.side_img{
    position: relative;
    top: 0;
    left: 0;
    width: 795px;
    height: 600px;
    margin: 0;
}

.side_form{
    position: relative;
    left: 800px;
    bottom: 600px;
    width: 500px;
    height: auto;
    margin: 0;
    padding: 0 10px;
}

.side_form h1{
    color: #2c4964;
    font-weight: bolder;
}

#reg_form{
    height: 488px;
}

.side_form form{
    margin-top: 70px;
}

#reg_form form{
    margin-top: 40px;
}

.side_form form input{
    width: 300px;
    height: 40px;
    margin-top: 20px;
}

#reg_form form input{
    height: 40px;
    margin-top: 13px;
}

.side_form form #submit_btn{
    color: #fff;
    background-color: #1977cc;
    margin-bottom: 30px;
    font-weight: bold;
}