{% extends 'hospital.html' %}
{% load static %}

{% block title %}Login Page{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
{% endblock %}

{% block data %} {% endblock %} 
{% block content %}
    <div class="side_img">
        <img src="{% static 'assets/img/login_img.jpeg' %}" alt="Login_IMG">
    </div>
    <div class="side_form">
        <center>
            <form action="">
                <h1>Login Form</h1>
                <input type="text" name="hospital_id" placeholder=" Hospital ID"><br>
                <input type="password" name="password" placeholder=" Password"><br>
                <input id="submit_btn" type="submit" value="LOGIN">
            </form>

            You don't have an Account: <a href="{% url 'registration' %}">Register</a>
        </center>
    </div>
{% endblock %}