/* Add some styling to the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
max-width: 800px;
margin: 0 auto;
padding: 20px;
}

.accident-item {
margin-bottom: 20px;
padding: 20px;
background-color: #f2f2f2;
border-radius: 5px;
}



/* My styles */
.heading {
    text-align: center;
    text-decoration: underline;
}

.user{
    position: absolute;
    top: 60px;
    right: 120px;
    align-items: baseline;
    font-size: 20px;
}

.user a{
    font-size: 15px;
}

.info_msg{
    text-align: center;
}