.debug_msg {color: blue;}
.info_msg {color: purple;}
.success_msg {color: green;}
.warning_msg {color: orange;}
.error_msg {color: red;}

a {
    text-decoration: none;
    color: #151617;
}

a:hover{
    color: #214697;
}