{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
        Adminstration system
      {% endblock %}
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- My styles file links -->
    <link rel="stylesheet" href="{% static 'assets/my_assets/css/styles.css' %}">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a id="heading" class="sidebar-brand brand-logo" href="{% url 'home' %}">SAFE DRIVE</a>
          <a class="sidebar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="{% static 'assets/images/faces/face15.jpg' %}" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">{{request.user}}</h5>
                  <span>Adminstrative member</span>
                </div>
              </div>            
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="{% url 'home' %}">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'assets/images/logo-mini.svg' %}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                {% block heading %}
                {% endblock %}
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <a class="nav-item btn btn-success create-new-button" href="{% url 'registration' %}">+ New Registration</a>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="{% static 'assets/images/faces/face15.jpg' %}" alt="">   <!--Profile picture ICON-->
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{request.user}}</p> 
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="{% url 'logout' %}">
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            {% block new_data %}
              <div class="row">
                <div class="col-xl-3 col-sm-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-center">
                            <h3 class="mb-0">{{data.cases}}</h3>
                            <p class="text-warning ml-2 mb-0 font-weight-medium">CASES</p>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Total number of cases received</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">{{data.payed_cases}} Payed</h3>
                            <p class="text-success ml-2 mb-0 font-weight-medium">{{data.percentage_payed}}%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Number payed cases</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">{{data.unpayed_cases}} Unpayed</h3>
                            <p class="text-danger ml-2 mb-0 font-weight-medium">{{data.percentage_unpayed}}%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-danger ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Number of unpayed cases</h6>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="background-color: aliceblue;">             
              <h3>Recently cases</h3>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <table>
                      <thead>
                        <th>Username</th>
                        <th>Vehicle No.</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Payment</th>
                        <th>Location</th>
                      </thead>
        
                      {% for info in infomations %}
                      <tbody>
                          <td>{{info.driver.username}}</td>
                          <td>{{info.driver.vehicle_number}}</td>
                          <td>{{info.date}}</td>
                          <td>{{info.time}}</td>
                          <td>
                            {% if info.payment %}
                              <div class="payment_status payed"></div>
                            {% else %}
                              <div class="payment_status unpayed"></div>
                            {% endif %}
                          </td>
                          <td><a class="links" href="{% url 'location' case_id=info.id %}">Show Map</a></td>
                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  </div>
              </div>
            {% endblock %}

            {% block load_map %}{% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Dar es salaam Institute of Technolog (DIT) - 2023</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Done by: <a href="#" target="_blank">Justin R. Meng'anyi</a> from BENG19-ETE</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    {% block map_script %}{% endblock %}
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>