{% extends 'index.html' %}
{% load static %}
{% block title %}
    Tracking map
{% endblock %}

{% block heading %}
    <h4 class="card-title mb-1">{{ data.driver.username }} current location</h1> 
{% endblock %}

{% block new_data %}
{% endblock %}



{% block load_map %}
    <div id="map" style="width: 100%; height: 500px;"></div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrzIe3qsgw_1IjxbUj2skzr2_yJH9wKm0&callback=initMap">
    </script>
{% endblock %}

{% block map_script %}
    <script>
        username = "{{ data.driver.username }}";
        vehicle_number = "{{ data.driver.vehicle_number }}";
        date = "{{ data.date }}";
        time = "{{ data.time }}";
        latitude = "{{ data.latitude }}";
        longitde = "{{ data.longitude }}";
    </script>
    <script src="{% static 'assets/my_assets/script/map_script.js' %}"></script>
{% endblock %}
